@import "reset.css";

body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#mainheader {
    background-color: #a593c2;
}

nav {
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav>ul>li {
    float: left;
}

nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

#leftmenu {
    float: left;
    width: 30%;
    margin-bottom: 20px;
}

#main {
    float: right;
    width: 70%;
    margin-bottom: 20px;
}

footer {
    clear: both;
    width: 100%;
}

.searchbox {
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
}
  
  @media only screen and (min-width: 768px) {
    main {
      display: flex;
    }
  
    aside {
      margin-left: 2%;
    }
  
    .columns-desktop {
      display: flex;
    }
  }
  
  /* Pie */
  .pie {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: solid 1px #ccc;
  }
  
  .pie img {
    width: 100%;
  }
  
  .pie .title {
    font-weight: bold;
  }
  
  .pie .price {
    text-align: right;
  }
  
  .pie .columns {
    width: 100%;
  }
  
  .pie .columns div {
    width: 50%;
  }
  
  .pie button {
    background-color: #f6aeae;
    padding: 10px;
    border: solid 1px #f6aeae;
    border-radius: 3px;
    color: #fff;
  }
  